<!DOCTYPE html>
<html>
<head>
    <title>Hey F2</title>
</head>

<body>
    <form action="http://localhost:5000/act" method="post">
        <input type="text" name="gitlink" id="git">
        <input type = "submit">
    </form>
        <p>Code Comes Here<br/><br/>--------------------<br/><br/></p>
        <p id="code"><%-message%></p>
        
</body>

</html>